<ion-view cache-view="true" name="welcome-view" view-title="Welcome">
  <ion-content class="background-primary padding padding">
    <!-- 42px 8px 16px 8px -->
    <div style="text-align: center">
      <h1 style="font-weight: 300; font-size: 44px; color: #fff;">Welcome </h1>

      <div class="row" style="padding: 64px 0px 64px 0px"> <!-- 24px 0px 56px 0px -->
        <div class="col"><img src="img/project_white.png" height="136px"/></div>
      </div>
      <div class="row" style="padding-top: 32px"> <!-- 8px 0px -->
        <div class="col">
          <a class="button button-balanced button-large accept button-full" href="#/signin">
            Sign In
          </a>
        </div>
        <div class="col">
          <a class="button button-light button-large button-full" style="width: 98%"
          href="#/register">
          Register
        </a>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
